.App {
  text-align: center;
  font-family: Arial, sans-serif;

}

h1 {
  color: darkslateblue;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #3c3c6d;
}

.book-list {
  flex: 3;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  box-shadow: #218838;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.book-card button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.book-card button:hover {
  background-color: #0056b3;
}

.book-viewer {
  flex: 2;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  max-height: 600px;
  overflow-y: auto;
}

.cart {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item img {
  width: 50px;
  margin-right: 10px;
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
  text-align: right;
}

.search-bar {
  margin-bottom: 20px;
  padding: 20px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #9a9be7;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-bar button:hover {
  background-color: #556ac5;
}



/* ************* */
.carousel-wrapper {
  max-width: 300px;  
  margin: 0 auto;    
}

.carousel .slide img {
  height: 450px; 
  object-fit: cover;  
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);  
  color: #fff; 
}